BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_CCACHE=y
BR2_CCACHE_DIR="/mnt/android/buildroot/.ccache"
BR2_CCACHE_INITIAL_SETUP="--max-size 10G"
BR2_KERNEL_HEADERS_4_14=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
# BR2_TARGET_GENERIC_GETTY is not set
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_MIDAS_PATH)/board/midas/rootfs-overlay/"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_MIDAS_PATH)/board/midas/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/fourkbomb/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="kexec"
BR2_LINUX_KERNEL_DEFCONFIG="midas"
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="exynos4412-midas"
BR2_PACKAGE_LINUX_TOOLS_GPIO=y
BR2_PACKAGE_DTC=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZMA=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_MIDAS_UTIL=y
